@import url('font.css');
@import url('style.css');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('splidejs/splide.min.css');
.site-logo {
  background-image: url('../images/site-logo.png');
  background-repeat: no-repeat;
  background-size: contain
}
.site-logo-inverse {
  background-image: url('../images/site-logo-inverse.png');
  background-repeat: no-repeat;
  background-size: contain
}
#navigationItem {
  animation-delay: .5s;
  z-index: 999;
}
#marker{
  position: absolute;
  height: 0;
  width: 4px;
  background: #fff;
  left: 15px;
  transition: 0.3s;
  border-radius: 4px;
}
.bg-grid-1{
  background-image: url('../images/grid-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
}
.parent:hover .child,.parent:focus .child {
  -webkit-transform: scale(1.1,1.1);
  -webkit-transition: all 0.3s ease-in-out;
}
.bg-grid-2{
  background-image: url('../images/grid-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
}
.bg-grid-3{
  background-image: url('../images/grid-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
}
.grid-link {
  position: absolute;
  bottom: 10%;
  margin-left: 15%;
}
.image-grid{
  top: 1500px;
  z-index: 99;
}
.font-work-sans{
  font-family: 'Work Sans'
}
.w-212 {
  width: 844px;
}
.w-265 {
  width:1060px;
}
#single-post {
  margin-bottom: 50px;
}
#single-post #image {
  height: 439px;
  overflow: hidden;
}
.h-179 {
  height: 716px;
}
.h-706px {
  height: 706px
}
.h-131 {
  height:524px;
}
.h-262 {
  height:1049px;
}
.h-128 {
  height: 512px;
}
.active {
  color: #fff;
}
.divend {
  top: 840px;
  z-index: 99;
}
.facebook {
  color:#4267B2
}
.twitter {
  color: #00ACEE
}
.linkedin {
  color: #0E76A8
}
.instagram {
  color: #fbad50
}
.text-small {
  font-size: 4px;
}
.bg-stars {
  background-image: url('https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg');
  background-size: cover;
}
.about-contact {
  top: 3050px;
  z-index: 99;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 600px) {
  .w-212 {
    width: 92%;
  }
  #single-post #image {
    height:auto
  }
  .about-contact {
    top: 3240px;
  }
  
}