@import url('font.css');
@import url('style.css');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

html {
	scroll-behavior: smooth;
}
#marker{
  position: absolute;
  height: 0;
  width: 4px;
  background: #fff;
  left: 15px;
  transition: 0.5s;
  border-radius: 4px;
}
.font-work-sans{
  font-family: 'Work Sans'
}
.w-212 {
  width: 844px;
}
.w-265 {
  width:1060px;
}
.h-179 {
  height: 716px;
}
.h-131 {
  height:524px;
}
.h-262 {
  height:1049px;
}
.text-gray {
    color:gray
}
.text-gray-dark {
  color: #AAAAAA
}
.text-gray-bbb {
  color: #bbbbbb
}
.active {
  color: #fff;
  border-left: 4px solid #bbbbbb;
  transition: .3s;
}
.text-gray-light {
  color: #373737
}
.facebook {
  color:#4267B2
}
.twitter {
  color: #00ACEE
}
.linkedin {
  color: #0E76A8
}
.instagram {
  color: #fbad50
}
.text-small {
  font-size: 4px;
}
.bg-stars {
  background-image: url('https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg');
  background-size: cover;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 600px) {
  .w-212 {
    width: 92%;
  }
}